# Northwind Dataset Case Study Code

In [2]:
%python # Selecting python as the language

In [3]:
import pandas as pd
import numpy as np

This is a method to import all the datasets together in one code but since the data can have some changes in headings during import, so we import them individually.

#### About the Data

<b>Answer 1) </b> Northwind Database is a sample database that is shipped along with Microsoft Access application. Basically, the database is about a company named "Northwind Traders". The database captures all the sales transactions that occurs between the company i.e. Northwind traders and its customers as well as the purchase transactions between Northwind and its suppliers.

It contains the following detailed information :

- Suppliers/Vendors of Northwind – who supply to the company.
- Customers of Northwind – who buy from Northwind
- Employee details of Northwind traders – who work for Northwind
- The product information – the products that Northwind trades in
- The inventory details – the details of the inventory held by Northwind traders.
- The shippers – details of the shippers who ship the products from the traders to the end-customers
- PO transactions i.e Purchase Order transactions – details of the transactions taking place between vendors & the company.
- Sales Order transaction – details of the transactions taking place between the customers & the company.
- Inventory transactions – details of the transactions taking place in the inventory
- Invoices – details of the invoice raised against the order.

In [6]:
# path_categories = "/FileStore/tables/categories.csv"
# # path_customers = "/FileStore/tables/customers.csv"
# # path_er-details = "/FileStore/tables/order-details.csv"
# # path_ormployees = "/FileStore/tables/employees.csv"
# # path_employee-territories = "/FileStore/tables/employee-territories.csv"
# # path_ordeders = "/FileStore/tables/orders.csv"
# # path_products = "/FileStore/tables/products.csv"
# # path_regions = "/FileStore/tables/regions.csv"
# # path_shippers = "/FileStore/tables/shippers.csv"
# # path_suppliers = "/FileStore/tables/suppliers.csv"
# # path_territories = "/FileStore/tables/territories.csv"

# # The applied options are for CSV files. For other file types, these will be ignored.
# file_type = "csv"
# df = spark.read.format(file_type) \
#   .option("inferSchema", infer_schema) \
#   .option("header", first_row_is_header) \
#   .option("sep", delimiter) \
#   .load(path_categories)
# df.show()

<b>Answer 2) </b>  Creating Dataframes as tables while importing since it is asked in the question to make the tables after importing the datasets

In [8]:
# Importing dataset files and creating dataframes for each of the data sets
df=spark.read.option("header","true").csv("/FileStore/tables/categories.csv")
df.show(10,False)

In [9]:
# Importing and saving the customers data as dataframe into tables
df1=spark.read.option("header","true").csv("/FileStore/tables/customers.csv")
df1.show(10,False)

In [10]:
# Importing and saving the employees data as dataframe into tables
df2=spark.read.option("header","true").csv("/FileStore/tables/employees.csv")
df2.show(10,False)

In [11]:
# Importing and saving the orders data as dataframe into tables
df3=spark.read.option("header","true").csv("/FileStore/tables/orders.csv")
df3.show(10,False)

In [12]:
# Importing and saving the products data as dataframe into tables
df4=spark.read.option("header","true").csv("/FileStore/tables/products.csv")
df4.show(10,False)

In [13]:
# Importing and saving the regions data as dataframe into tables
df5=spark.read.option("header","true").csv("/FileStore/tables/regions.csv")
df5.show(10,False)

In [14]:
# Importing and saving the shippers data as dataframe into tables
df6=spark.read.option("header","true").csv("/FileStore/tables/shippers.csv")
df6.show(10,False)

In [15]:
# Importing and saving the suppliers data as dataframe into tables
df7=spark.read.option("header","true").csv("/FileStore/tables/suppliers.csv")
df7.show(10,False)

In [16]:
# Importing and saving the territories data as dataframe into tables
df8=spark.read.option("header","true").csv("/FileStore/tables/territories.csv")
df8.show(10,False)

In [17]:
# Importing and saving the orderdetails data as dataframe into tables
df9=spark.read.option("header","true").csv("/FileStore/shared_uploads/shaleshnathsharma@yahoo.in/orderdetails.csv")
df9.show(10,False)

In [18]:
# Importing and saving the employeeterritories data as dataframe into tables
df10=spark.read.option("header","true").csv("/FileStore/shared_uploads/shaleshnathsharma@yahoo.in/employeeterritories.csv")
df10.show(10,False)

Q1. Due to some changes in the business processes and market forces, the company has decided to change the categories of various products. Your manager has asked you to analyse the
impact on the database. Specifically, he is concerned if existing orders will be impacted. He is also worried about what impact it may have on the downstream data warehouse.

<b>Answer a)</b> According to ER diagram, the category table has 3 columns with CategoryID as the primary key. It is also the foreign key in the Products table which has the ProductID as the primary key. So we see that the Er diagram is related to each other through various functions. Here the category table is related to the many to many function with the product id.

<b> Answer b) </b> This means that we have a lot of interdependent variables with each other. So, changing the CategoryID will definetly lead to an impact in the Order details & Supplier details with effect in decreasing the count of OrderID. So, this will have a major impact on the sales volume of the company. The customers trying to locate a product under a category will not be able to find it so, they might not be able to place the order for the product. So, yes the change in category will surely lead to the effect on variables like Quantity of the products ordered.

<b> Answer c) </b> As we have seen that there will be a measurable impact on the database due to this, so the existing orders will defintely be impacted . The introduction of new categories for certain products will definetly lead to the changes in the data warehouse system as the ETL would significantly be changed. In simple terms, if the categories of certain products are changed then, the data stored in the databse systems will be a bit mixed up to deal for overall analysis and predictions of sales revenue.

<b> Answer 2) </b> An analysis showing what categories have the most products under them and if they are changed then the above predictions and calculations will hold true.

In [24]:
# Joining the Category Table & the Product table to find out the possible affected products
df.createOrReplaceTempView("df")
df4.createOrReplaceTempView("df4")
cause_effectanalysis = df.join(df4,on=["CategoryID"],how="left")
cause_effectanalysis.show()

In [25]:
# We have to create a temporary view everytime we print the data in SparkSQL
cause_effectanalysis.createOrReplaceTempView("cause_effectanalysis")

In [26]:
# Finding out the categories with the most types of Product ID listed
z0_final=spark.sql("SELECT CategoryName, count(*) as cnt FROM cause_effectanalysis GROUP BY CategoryName HAVING cnt>0")
z0_final.orderBy("cnt", ascending=False).show(10)

<i> The above table shows us that Condiments category is at the top with 14 Product Ids listed in the company's databse. So, if the category of these products are going to change then, they might have a markable impact on the sales of the company. So, the manager should probably try to look for changing the  category id of less number of products so the Downstreaming of the data warehousing can also be prevented.

Qa. By mistake some data has been duplicated in the product table and is causing issues with order reconciliation. You have been asked to check the data and remove the duplicates. Create a dataframe (using Spark SQL) contained de-duped rows from the product table.

In [29]:
# Selecting SQL as the next language for further questions
%sql

<b> Answer a) </b> By mistake some data has been duplicated in the product table and is causing issues with order reconciliation. You have been asked to check the data and remove the duplicates. Create a dataframe (using Spark SQL) contained de-duped rows from the
product table.

In [31]:
# Checking for duplicate values in the Product table
import pyspark.sql.functions as f
df4.groupBy(df4.columns)\
    .count()\
    .where(f.col('count') > 1)\
    .select(f.sum('count'))\
    .show()

<i> The total duplicate values are 10 in the product data. So now we have to remove them.

In [33]:
# Removing the duplicate values from the data  
df4_final=df4.dropDuplicates(df4.columns)

In [34]:
# Rechecking the duplicate value counts to ensure they are deleted
import pyspark.sql.functions as f
df4_final.groupBy(df4_final.columns)\
    .count()\
    .where(f.col('count') > 1)\
    .select(f.sum('count'))\
    .show()

<i> So we have removed the duplicate values and saved it into a new dataframe. A dataframe has already been made in SparkSQL.

<b> Answer b)</b> The company wants to recognize employees who are doing a great job pushing more orders. Create a dataframe of employees (display their Id, Name) and their total
sales. Filter out only employees that have sold more than 70 products. Order the employees in descending order of sales.

In [37]:
# Making a left join on the Employee table with Order Table
df2.createOrReplaceTempView("df2")
df3.createOrReplaceTempView("df3")
emp_ord = df2.join(df3,on=["EmployeeID"],how="left")
emp_ord.show()

In [38]:
# Making a left join on the emp_ord table with Order details Table
emp_ord.createOrReplaceTempView("emp_ord")
df9.createOrReplaceTempView("df9")
emp_sales = emp_ord.join(df9,on=["OrderID"],how="left")
emp_sales.show()

In [39]:
# Creating a temporary view for the final joint data
emp_sales.createOrReplaceTempView("emp_sales")

In [40]:
z0=spark.sql("SELECT EmployeeID, count(ProductID) as Product_count FROM emp_sales GROUP BY EmployeeID HAVING Product_count>70")
z0.orderBy("Product_count", ascending=False).show(10)